In [1]:
import pandas as pd

In [23]:
# Прочитать данный набор данных из CSV файла.
df = pd.read_csv("Таблица для ДЗ.csv")

In [5]:
# Сохранить первые 10 строк данных в новый Excel файл.
rows_10 = df.to_excel("rows10.xlsx", index=False)

In [37]:
# Создать новый DataFrame, содержащий только продажи Product A.
product_a = df[df["Product"] == "Product A"]
product_a

          Date    Product  Sales  Customer_Age  Customer_Rating  Returned
3   2020-03-03  Product A     81            35                5     False
5   2020-04-15  Product A     88            58                2     False
9   2020-06-05  Product A     33            45                4     False
13  2020-08-28  Product A     70            65                2      True
14  2020-09-23  Product A     54            19                1     False

In [36]:
# Выбрать все строки, где Customer_Age больше 50 лет.
customer_age_50 = df[df["Customer_Age"] > 50]
customer_age_50

          Date    Product  Sales  Customer_Age  Customer_Rating  Returned
0   2020-01-08  Product B     87            55                4     False
1   2020-01-20  Product B      9            53                1     False
5   2020-04-15  Product A     88            58                2     False
10  2020-07-09  Product C     63            66                5      True
11  2020-08-09  Product B     36            61                5     False
13  2020-08-28  Product A     70            65                2      True

In [35]:
# Выбрать все продажи с рейтингом покупателя 5.
df[df["Customer_Rating"] == 5]

          Date    Product  Sales  Customer_Age  Customer_Rating  Returned
3   2020-03-03  Product A     81            35                5     False
10  2020-07-09  Product C     63            66                5      True
11  2020-08-09  Product B     36            61                5     False

In [50]:
# Выбрать все записи, где продукт был возвращен, и возраст покупателя меньше 30 лет.
df[(df["Returned"] == True) & (df["Customer_Age"] < 30)]

         Date    Product  Sales  Customer_Age  Customer_Rating  Returned
8  2020-06-03  Product B     77            28                4      True

In [52]:
# Используйте .loc для выбора всех строк, где дата продажи соответствует конкретной дате (например, '2020-04-15').
df.loc[df["Date"] == "2020-04-15"]

         Date    Product  Sales  Customer_Age  Customer_Rating  Returned
5  2020-04-15  Product A     88            58                2     False

In [60]:
# Используйте .loc для выбора строк с 5 по 10 и колонок 'Product' и 'Sales'.
df.loc[5:11, ["Product", "Sales"]]

      Product  Sales
5   Product A     88
6   Product C     85
7   Product C     62
8   Product B     77
9   Product A     33
10  Product C     63
11  Product B     36

In [79]:
# Используйте .loc для изменения значения 'Returned' на True для всех продаж, где 'Customer_Rating' равен 1.
df['Returned'] = df['Returned'].astype(str)
df.loc[df['Customer_Rating'] == 1, 'Returned'] = 'True'

In [76]:
# Группируйте данные по 'Product' и вычислите средний возраст ('Customer_Age') для каждого продукта.
df.groupby("Product")["Customer_Age"].mean()

Product
Product A    44.4
Product B    43.4
Product C    47.4
Name: Customer_Age, dtype: float64

In [77]:
# Группируйте данные по 'Customer_Rating' и подсчитайте общую сумму ('Sales') для каждого рейтинга.
df.groupby("Customer_Rating")["Sales"].sum()

Customer_Rating
1     63
2    264
3     97
4    259
5    180
Name: Sales, dtype: int64