In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ДЗ_Pandas.csv")

In [5]:
# Определите, в каких столбцах есть пропущенные значения. 
df.isnull().sum()

ID                 0
Название фильма    0
Год выпуска        0
Жанр               0
Рейтинг            2
Бюджет (млн $)     2
Сборы (млн $)      0
Режиссер           2
Основные актеры    0
dtype: int64

In [12]:
# Удалите все строки, в которых пропущено значение в столбце 'Бюджет (млн $)'.
df.dropna(subset=["Бюджет (млн $)"], inplace = True)
df

,ID,Название фильма,Год выпуска,Жанр,Рейтинг,Бюджет (млн $),Сборы (млн $),Режиссер,Основные актеры
0,1,Космический эпос,2022,Фантастика,7.8,120.0,500,NaN,"Анна Петрова, Петр Сидоров"
1,2,Приключения времени,2020,Приключения,8.2,90.0,450,Мария Смирнова,"Сергей Васильев, Ольга Иванова"
2,3,Сердце океана,2021,Драма,8.5,60.0,300,Алексей Попов,"Дмитрий Кузнецов, Ирина Лебедева"
3,4,Секретные агенты,2019,Боевик,7.6,85.0,550,Кирилл Соколов,"Елена Романова, Артем Михайлов"
5,6,Городские легенды,2018,Триллер,NaN,40.0,200,Ольга Петрова,"Игорь Николаев, Екатерина Волкова"
6,7,Звёздные врата,2023,Научная фантастика,NaN,130.0,650,NaN,"Наталья Орлова, Антон Краснов"
7,8,Возвращение героя,2021,Боевик,7.9,95.0,480,Роман Васильев,"Максим Андреев, Алиса Горшкова"
9,10,Тайны прошлого,2022,Мистика,7.1,65.0,310,Дмитрий Иванов,"Светлана Иванова, Денис Смирнов"

In [14]:
# Заполните все пропущенные значения в столбце 'Режиссер' строкой 'Неизвестен'.
df["Режиссер"].fillna("Неизвестен", inplace = True)
df

,ID,Название фильма,Год выпуска,Жанр,Рейтинг,Бюджет (млн $),Сборы (млн $),Режиссер,Основные актеры
0,1,Космический эпос,2022,Фантастика,7.8,120.0,500,Неизвестен,"Анна Петрова, Петр Сидоров"
1,2,Приключения времени,2020,Приключения,8.2,90.0,450,Мария Смирнова,"Сергей Васильев, Ольга Иванова"
2,3,Сердце океана,2021,Драма,8.5,60.0,300,Алексей Попов,"Дмитрий Кузнецов, Ирина Лебедева"
3,4,Секретные агенты,2019,Боевик,7.6,85.0,550,Кирилл Соколов,"Елена Романова, Артем Михайлов"
5,6,Городские легенды,2018,Триллер,NaN,40.0,200,Ольга Петрова,"Игорь Николаев, Екатерина Волкова"
6,7,Звёздные врата,2023,Научная фантастика,NaN,130.0,650,Неизвестен,"Наталья Орлова, Антон Краснов"
7,8,Возвращение героя,2021,Боевик,7.9,95.0,480,Роман Васильев,"Максим Андреев, Алиса Горшкова"
9,10,Тайны прошлого,2022,Мистика,7.1,65.0,310,Дмитрий Иванов,"Светлана Иванова, Денис Смирнов"

In [17]:
# Заполните все пропущенные значения в столбце 'Рейтинг' средним значением этого столбца.
df["Рейтинг"].fillna(df["Рейтинг"].mean(), inplace = True)
df

,ID,Название фильма,Год выпуска,Жанр,Рейтинг,Бюджет (млн $),Сборы (млн $),Режиссер,Основные актеры
0,1,Космический эпос,2022,Фантастика,7.80,120.0,500,Неизвестен,"Анна Петрова, Петр Сидоров"
1,2,Приключения времени,2020,Приключения,8.20,90.0,450,Мария Смирнова,"Сергей Васильев, Ольга Иванова"
2,3,Сердце океана,2021,Драма,8.50,60.0,300,Алексей Попов,"Дмитрий Кузнецов, Ирина Лебедева"
3,4,Секретные агенты,2019,Боевик,7.60,85.0,550,Кирилл Соколов,"Елена Романова, Артем Михайлов"
5,6,Городские легенды,2018,Триллер,7.85,40.0,200,Ольга Петрова,"Игорь Николаев, Екатерина Волкова"
6,7,Звёздные врата,2023,Научная фантастика,7.85,130.0,650,Неизвестен,"Наталья Орлова, Антон Краснов"
7,8,Возвращение героя,2021,Боевик,7.90,95.0,480,Роман Васильев,"Максим Андреев, Алиса Горшкова"
9,10,Тайны прошлого,2022,Мистика,7.10,65.0,310,Дмитрий Иванов,"Светлана Иванова, Денис Смирнов"

In [18]:
# Если в строке пропущены значения и в 'Бюджет (млн $)', и в 'Сборы (млн $)', удалите эту строку. 
# В противном случае, если пропущено значение только в одном из этих столбцов, оставьте строку.
df.dropna(subset=["Бюджет (млн $)", "Сборы (млн $)"], how = "all", inplace = True)
df

,ID,Название фильма,Год выпуска,Жанр,Рейтинг,Бюджет (млн $),Сборы (млн $),Режиссер,Основные актеры
0,1,Космический эпос,2022,Фантастика,7.80,120.0,500,Неизвестен,"Анна Петрова, Петр Сидоров"
1,2,Приключения времени,2020,Приключения,8.20,90.0,450,Мария Смирнова,"Сергей Васильев, Ольга Иванова"
2,3,Сердце океана,2021,Драма,8.50,60.0,300,Алексей Попов,"Дмитрий Кузнецов, Ирина Лебедева"
3,4,Секретные агенты,2019,Боевик,7.60,85.0,550,Кирилл Соколов,"Елена Романова, Артем Михайлов"
5,6,Городские легенды,2018,Триллер,7.85,40.0,200,Ольга Петрова,"Игорь Николаев, Екатерина Волкова"
6,7,Звёздные врата,2023,Научная фантастика,7.85,130.0,650,Неизвестен,"Наталья Орлова, Антон Краснов"
7,8,Возвращение героя,2021,Боевик,7.90,95.0,480,Роман Васильев,"Максим Андреев, Алиса Горшкова"
9,10,Тайны прошлого,2022,Мистика,7.10,65.0,310,Дмитрий Иванов,"Светлана Иванова, Денис Смирнов"

In [21]:
# Сгруппируйте фильмы по жанру
grouped_df = df.groupby("Жанр")

In [26]:
# Рассчитайте средний рейтинг и средний бюджет в каждом жанре.
print(grouped_df[["Рейтинг", "Бюджет (млн $)"]].mean())

                    Рейтинг  Бюджет (млн $)
Жанр
Боевик                 7.75            90.0
Драма                  8.50            60.0
Мистика                7.10            65.0
Научная фантастика     7.85           130.0
Приключения            8.20            90.0
Триллер                7.85            40.0
Фантастика             7.80           120.0

In [27]:
# Сгруппируйте фильмы по году выпуска
grouped_df_2 = df.groupby("Год выпуска")

In [37]:
# Определите общее количество фильмов и суммарные сборы в прокате по каждому году.
grouped_df_2.agg({"Название фильма": "count", "Сборы (млн $)": "sum"})

             Название фильма  Сборы (млн $)
Год выпуска
2018                       1            200
2019                       1            550
2020                       1            450
2021                       2            780
2022                       2            810
2023                       1            650

In [34]:
# Сгруппируйте фильмы по жанру и году выпуска
grouped_df_3 = df.groupby(["Жанр", "Год выпуска"])

In [39]:
# Рассчитайте средний рейтинг для каждой комбинации жанра и года выпуска
grouped_df_3["Рейтинг"].mean()

Жанр                Год выпуска
Боевик              2019           7.60
                    2021           7.90
Драма               2021           8.50
Мистика             2022           7.10
Научная фантастика  2023           7.85
Приключения         2020           8.20
Триллер             2018           7.85
Фантастика          2022           7.80
Name: Рейтинг, dtype: float64

In [ ]:
# Сгруппируйте фильмы по жанру и рассчитайте средний рейтинг для каждого жанра
grouped_df = df.groupby("Жанр")

In [41]:
# рассчитайте средний рейтинг для каждого жанра
grouped_df["Рейтинг"].mean().reset_index()

                 Жанр  Рейтинг
0              Боевик     7.75
1               Драма     8.50
2             Мистика     7.10
3  Научная фантастика     7.85
4         Приключения     8.20
5             Триллер     7.85
6          Фантастика     7.80

In [42]:
# Сбросьте индекс и отсортируйте результаты по среднему рейтингу в убывающем порядке
grouped_df["Рейтинг"].mean().reset_index().sort_values(by = "Рейтинг", ascending = False)

                 Жанр  Рейтинг
1               Драма     8.50
4         Приключения     8.20
3  Научная фантастика     7.85
5             Триллер     7.85
6          Фантастика     7.80
0              Боевик     7.75
2             Мистика     7.10

In [50]:
# Используйте value_counts для определения, сколько фильмов было выпущено в каждом году
df["Год выпуска"].value_counts()

Год выпуска
2022    2
2021    2
2020    1
2019    1
2018    1
2023    1
Name: count, dtype: int64

In [53]:
# Отсортируйте результаты по годам в порядке возрастания
df["Год выпуска"].value_counts().reset_index().sort_values(by = "Год выпуска")

   Год выпуска  count
4         2018      1
3         2019      1
2         2020      1
1         2021      2
0         2022      2
5         2023      1

In [57]:
# Сгруппируйте фильмы по режиссеру и жанру, затем рассчитайте общие сборы фильмов для каждой комбинации
df.groupby(["Режиссер", "Жанр"])["Сборы (млн $)"].sum().reset_index()

         Режиссер                Жанр  Сборы (млн $)
0   Алексей Попов               Драма            300
1  Дмитрий Иванов             Мистика            310
2  Кирилл Соколов              Боевик            550
3  Мария Смирнова         Приключения            450
4      Неизвестен  Научная фантастика            650
5      Неизвестен          Фантастика            500
6   Ольга Петрова             Триллер            200
7  Роман Васильев              Боевик            480

In [59]:
# Сбросьте индекс и отсортируйте результаты по сумме сборов в убывающем порядке
df.groupby(["Режиссер", "Жанр"])["Сборы (млн $)"].sum().reset_index().sort_values(by="Сборы (млн $)", ascending=False)

         Режиссер                Жанр  Сборы (млн $)
4      Неизвестен  Научная фантастика            650
2  Кирилл Соколов              Боевик            550
5      Неизвестен          Фантастика            500
7  Роман Васильев              Боевик            480
3  Мария Смирнова         Приключения            450
1  Дмитрий Иванов             Мистика            310
0   Алексей Попов               Драма            300
6   Ольга Петрова             Триллер            200